.main-title {
  font-size: $main-font-size + 10;
  line-height: 30px;
  font-weight: 700;
  display: block;
  height: 177px;
  background-color: #f1f1f1;
  padding: 0 30px;
  &--main-page {
    height: 283px;
    background-image: url(../img/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: 0px -17px;
  }
}
