.popular {
  outline: 1px solid yellow;
  padding: 0 30px;
}

.popular__main-title {
  font-size: $main-font-size + 8;
  font-weight: 700;
  line-height: 30px;
}

.popular__title {
  color: #63d1bb;
  line-height: 20px;
  font-size: $main-font-size;
  font-weight: 700;
}

.popular__description {
  font-size: $main-font-size - 2;
  color: #444444;
  line-height: 24px;
  font-weight: 400;
}

.popular__info {
  font-size: $main-font-size - 2;
  color: #444444;
  line-height: 20px;
  font-weight: 400;
}

.popular__price {
  color: #444444;
  font-weight: 700;
  line-height: 24px;
}
