.product-card {
  outline: 1px solid #ededed;
  line-height: 24px;
  font-weight: 700;
  color: $main-color;
  padding: 0 30px;
}

.product-card__description {
  font-size: $main-font-size - 4;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
}

.product-card__price {
  font-size: $main-font-size - 2;
}
