$main-background-color: #ffffff;
$main-font-size: 17px;
$main-color: #000000;
$additional-color: rgba(68, 68, 68, 1);
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
