.catalog-wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .catalog-wrapper{
    width: 666px;
}
}

@media (min-width: $desktop-width) {
  .catalog-wrapper {
    width: 1050px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
