.catalog-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-wrapper {
    width: 768px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1150px;
    padding: 0 50px;
  }
}
