.features {
  font-weight: 700;
  line-height: 20px;
  padding: 33px 30px 20px;
  // outline: 1px solid purple;
  min-height: 810px;
  width: 320px;
  margin: 0 auto;
}

.features__title {
  line-height: 30px;
  font-size: $main-font-size + 8;
  margin: 0;
}

.features__list {
  list-style: none;
  padding: 0;
  margin: 32px 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  // height: 710px;
}

.features__item {
  // outline: 1px solid lightgray;
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--eco {
    flex-basis: 93px;
    margin-bottom: 30px;
    padding-right: 63px;
  }

  &--eco img {
    display: block;
    margin-left: 8px;
  }

  &--style {
    flex-basis: 93px;
    margin-bottom: 35px;
    padding-right: 36px;
  }

  &--like {
    flex-basis: 88px;
    margin-bottom: 33px;
    padding-right: 56px;
  }

  &--like img {
    display: block;
    margin-left: 8px;
  }

  &--love {
    flex-basis: 89px;
    margin-bottom: 35px;
    padding-right: 4px;
  }

  &--support {
    flex-basis: 89px;
    margin-bottom: 31px;
  }

  &--support img {
    display: block;
    margin-left: -8px;
  }

  &--gift {
    flex-basis: 92px;
    padding-right: 10px;
    margin-bottom: 6px;
  }
}

@media (min-width: $tablet-width) {
  .features {
    width: 768px;
    min-height: 576px;
    padding: 50px 55px 50px 45px;
    }

  .features__title {
    font-size: $main-font-size + 26;
    line-height: 50px;
  }

  .features__list {
    margin-top: 42px;
    padding: 0 6px;
    // height: 410px;
    align-content: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .features__item {
    width: auto;
    font-size: $main-font-size + 3;
    line-height: 22px;
    // flex-basis: 104px;
    flex-basis: 328px;
    min-height: 104px;


    &--eco {
      margin-bottom: 51px;
      padding: 6px 96px 0 0;
    }

    &--like {
          padding: 12px 86px 0 0;
      order: 4;
    }

    &--style {
          padding: 8px 64px 0 0;
      margin-bottom: 51px;
      order: 2;
    }

    &--love {
      padding: 10px 28px 0 6px;
      margin-bottom: 51px;
      order: 1;
    }

    &--support {
          padding: 11px 0px 0 6px;
      margin-bottom: 51px;
      order: 3;
    }

    &--gift {
          padding: 8px 28px 0 6px;
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    width: 1150px;
    padding: 60px 246px 60px 220px;
    min-height: 580px;
  }

  .features__title {
    font-size: $main-font-size + 36;
    line-height: 57px;
  }

  .features__list {
    // align-content: stretch;
    justify-content: space-between;

  }

  // .features__list-item {
  //   width: 348px;
  //
  //   &--part1 {
  //     padding-right: 113px;
  //   }
  //
  //   &--part2 {
  //     padding-right: 53px;
  //   }
  // }
}
