.logo {
  height: 80px;
  align-items: flex-start;
  width: 320px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
  position: relative;
  padding-top: 22px;
}

// .logo__link {
//   width: 86px;
//   height: 40px;
//
//   &:hover {
//     cursor: pointer;
//   }
// }

@media (min-width: $tablet-width) {
  .logo {
    height: 90px;
    margin: 0 0 16px;
    width: 160px;
    justify-content: flex-start;
    border: none;
  }

  .logo__image {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    height: 88px;
    margin: 0 89px 0 66px;
    padding-top: 9px;
    // margin: 0 75px;
  }

  .logo__image {
    width: 148px;
    height: 73px;
  }
}
