.main-nav {
  line-height: 24px;
  color: $main-color;
  outline: 1px solid blue;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
// .main-nav .logo {
//   order: -2;
// }

.main-nav__toggle {
  order: -1;
  position: absolute;
}

.main-nav__menu {
  order: -2;
}
// .main-nav__list {
//   list-style: none;
//   // display: none;
// }
//
// .main-nav__toggle {
//   // display: none;
// }
//
// .main-nav__list-link{
//   color: $main-color;
//   text-decoration: none;
// }
// @media (min-width: $tablet-width) {
//   // .main-nav__list{display: block;
//   }
// }
