.modal {
  width: 320px;
  height: 338px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -169px;
  margin-left: -160px;
  display: none;
  padding: 0 30px;
  background-color: #ffffff;
  outline: 1px solid pink;
  z-index: 2;
  opacity: 1;
}

.modal__title {
  font-weight: 700;
  font-size: $main-font-size + 8;
  line-height: 30px;
}

.modal__size {
  color: #444444;
  font-weight: 400;
  font-size: $main-font-size - 2;
  line-height: 30px;
}

.modal__list {
  list-style: none;
  padding: 0;
}

.modal__add {
  background-color: #63d1bb;
  color: #ffffff;
  border-color: #ffffff;
}
@media (min-width: $tablet-width) {
  .modal {
    width: 568px;
    height: 336px;
    margin-left: -284px;
    margin-top: -168px;
  }

}
@media (min-width: $desktop-width) {
  .modal {
  }
}
