.popular__wrapper {
  width: auto;
}

.popular {
  padding: 30px 30px 37px;
  min-height: 828px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 120%;
}

.popular__main-title {
  width: 260px;
  font-size: $main-font-size + 8;
  font-weight: 700;
  line-height: 30px;
  margin: 0 0 4px;
}

.popular__title {
  width: 260px;
  color: #63d1bb;
  line-height: 20px;
  font-size: $main-font-size;
  font-weight: 700;
  margin: 0 0 24px;
  text-transform: uppercase;
}

.popular__description {
  width: 260px;
  font-size: $main-font-size - 2;
  color: #444444;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 7px;
}

.popular__info {
  font-size: $main-font-size - 2;
  color: #444444;
  line-height: 20px;
  font-weight: 400;
  width: 260px;
  margin: 0 0 38px;
  position: relative;
}

.popular__info-row {
  height: 38px;
  vertical-align: bottom;
  position: relative;

  & td:first-of-type {
    width: 94px;
  }

  &::after {
    content: "";
    display: block;
    width: 260px;
    height: 1px;
    background-color: #ececec;
    position: absolute;
    top: 50px;
    left: 0;
  }

  &:nth-of-type(2)::after {
    top: 90px;
  }

  &:nth-of-type(3)::after {
    top: 130px;
  }
}

.popular__image {
  margin: 0 0 18px;
}

.popular__price {
  color: #444444;
  font-weight: 700;
  line-height: 24px;
  align-self: center;
  width: 124px;
  margin: 0 auto 26px;
}

@media (min-width: $tablet-width) {
  .popular {
    min-height: 600px;
    width: 768px;
    align-items: flex-start;
    padding: 46px 48px 56px;
    flex-direction: row;
    position: relative;
    background-size: 100%;
  }

  .popular__main-title {
    width: auto;
    font-size: $main-font-size + 26;
    line-height: 50px;
    margin: 0 0 35px;
  }

  .popular__title {
    width: 130px;
    text-align: center;
    margin: 8px 0 50px auto;
  }

  .popular__info-wrapper {
    width: 292px;
    min-height: 425px;
    padding-top: 2px;
  }

  .popular__description {
    width: 100%;
    font-size: $main-font-size;
    line-height: 30px;
    margin: 0 0 28px;
  }

  .popular__info {
    width: 100%;
    margin: 0 0 64px;
    order: 2;
  }

  .popular__image {
    position: absolute;
    top: 152px;
    right: 50px;
    width: 333px;
    height: 404px;
  }

  .popular__price {
    font-size: $main-font-size + 3;
    line-height: 24px;
    padding-left: 72px;
    width: auto;
    margin-bottom: 34px;
  }

  .popular__order {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .popular {
    min-height: 805px;
    width: 1150px;
    align-content: flex-start;
    background-size: 1050px;
  }

  .popular__main-title {
    font-size: $main-font-size + 36;
    line-height: 57px;
    margin-top: 80px;
    margin-bottom: 49px;
    width: 870px;
  }

  .popular__image {
    top: 76px;
    z-index: -1;
    width: 525px;
    height: 636px;
  }

  .popular__title {
    order: -1;
    margin: 92px 24px 0 18px;
  }

  .popular__info-wrapper {
    margin-left: 175px;
    width: 295px;
  }

  .popular__description {
    margin-bottom: 40px;
    letter-spacing: 0.01em;
  }

  .popular__info {
    margin-bottom: 118px;
    margin-top: 0;
    order: 0;
  }

  .popular__price {
    padding-left: 75px;
  }
}
