.production {
  line-height: 24px;
  padding: 22px 0 32px;
  margin-top: 32px;
  margin-bottom: 58px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid #ededed;
}

.production__video-wrapper {
  position: relative;
  margin: 27px 0 0;

  &::after {
    content: "";
    display: block;
    width: 100px;
    height: 77px;
    background-image: url("../img/icon-play.svg");
    position: absolute;
    top: 35px;
    left: 78px;
  }
}

.production__title {
  font-size: $main-font-size;
  font-weight: 700;
  margin: 0;
  padding-left: 88px;
  text-align: left;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 28px;
    background-image: url("../img/icon-video.svg");
    position: absolute;
    left: 33px;
    top: 7px;
  }
}

.production__description {
  color: #444444;
  font-weight: 400;
  font-size: $main-font-size - 4;
  margin: 22px 0 0;
  padding: 0 33px;
}

.production__order {
  margin: 24px auto 0;
  width: 194px;
}

@media (min-width: $tablet-width) {
  .production {
    padding: 0;
    margin-bottom: 64px;
  }

  .production__video-wrapper {
    order: -1;
    margin: 0 0 34px;
    padding: 0;

    &::after {
      top: 188px;
      left: 282px;
    }
  }

  .production__video {
    width: 668px;
    height: 455px;
  }

  .production__title {
    font-size: $main-font-size + 3;
    margin: 0 auto 0 0;
    width: 346px;
    text-align: right;

    &::before {
      left: 40px;
      top: -4px;
    }
  }

  .production__description {
    font-size: $main-font-size - 2;
    line-height: 30px;
    margin: 33px 0 0;
    padding: 0 38px;
    letter-spacing: 0.004em;
  }

  .production__order {
    width: 584px;
    margin: 36px auto 44px;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin: 3px 0 104px;
    width: 1050px;
    min-height: 456px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
  }

  .production__title {
    margin: 0 70px 34px 0;
    padding: 94px 0 0 20px;
    width: 238px;
    text-align: left;

    &::before {
      left: 21px;
      top: 41px;
    }
  }

  .production__description {
    margin: 0 66px 46px 0;;
    padding: 0 0 0 20px;
    width: 244px;
  }

  .production__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    &::after {
      left: 290px;
    }
  }

  .production__video {
    width: 682px;
  }

  .production__order {
    width: 230px;
    margin: 0 57px 0 0;
  }
}
