.product-card {
  line-height: 24px;
  font-weight: 700;
  color: $main-color;
  width: 260px;
  padding: 30px 0 0;
  margin-bottom: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.product-card__title {
  font-size: $main-font-size;
  margin: 0;
  padding: 25px 28px 3px;

  &:focus,
  &:hover {
    color: rgba(0, 0, 0, .6);
  }

  &:active {
    color: rgba(0, 0, 0, .3);
  }
}

.product-card__link {
  color: $main-color;
  text-decoration: none;
}

.product-card__description {
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  margin-top: -6px;
}

.product-card__info {
  font-size: $main-font-size - 4;
  line-height: 30px;
  color: #444444;
  font-weight: 400;
  margin: 0;
  padding: 3px 28px 18px;
  position: relative;
}

.product-card__price {
  width: 260px;
  font-size: $main-font-size - 2;
  padding: 24px 19px 24px 27px;
  border: 1px solid #ededed;
  border-top: none;
  position: relative;
  margin: 0;
  display: flex;

  &::before {
    content: "";
    display: block;
    width: 206px;
    height: 1px;
    background-color: #ededed;
    position: absolute;
    top: 2px;
  }
}

.product-card__basket {
  margin-left: auto;
  margin-right: 8px;
}

.product-card__icon:focus,
.product-card__icon:hover {
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .product-card {
    width: auto;
    min-height: 334px;
    padding: 0;
    margin-bottom: 54px;
    align-content: space-between;
    border: 1px solid #ededed;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;

    &--bunny {
      margin-bottom: 55px;
    }

    &--big-basket .product-card__info::after {
      top: 184px;
    }
  }

  .product-card__title {
    font-size: $main-font-size + 3;
    width: 330px;
    padding: 24px 70px 4px 26px;
  }

  .product-card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 81px;
    border: none;
    margin-top: 2px;
    margin-left: 168px;
    width: 333px;
  }

  .product-card__info {
    font-size: $main-font-size - 2;
    padding: 3px 26px 22px;
  }

  .product-card__price {
    width: 333px;
    padding: 24px 23px 24px 32px;
    font-size: $main-font-size;
    border: none;

    &::before {
      width: 268px;
    }
  }

  .product-card__image {
    width: 334px;
    height: 334px;
    display: block;
    position: absolute;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    min-height: 660px;
    flex-basis: 316px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .product-card__title {
    width: 316px;
    padding: 6px 60px 3px 26px;
  }

  .product-card__description {
    width: 316px;
    margin-top: 19px;
    margin-left: 0;
  }

  .product-card__image {
    width: 316px;
    height: 462px;
    position: static;
  }

  .product-card__info {
    &::after {
      width: 256px;
      top: 72px;
      left: 28px;
    }
  }

  .product-card__price {
    margin-top: auto;
    width: 316px;
    padding: 0 26px 27px;

    &::before {
      top: -22px;
    }
  }
}
