.title-wrapper {
  outline: 1px solid pink;
  display: block;
  height: 177px;
  width: auto;
  margin: 0 auto;
  background-color: #f1f1f1;

  &--main-page {
    height: 283px;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 50% -17px;
    background-color: #f9f9f9;
  }

  &--form-page {
    margin-bottom: 21px;
  }
}

.title-wrapper__main {
  font-size: $main-font-size + 10;
  line-height: 30px;
  font-weight: 700;
  width: 244px;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;

  &--form-page {
    margin: 0 auto;
    width: 320px;
  }
}

@media (min-width: $tablet-width) {
  .title-wrapper {
    width: auto;
    height: 225px;
    margin-bottom: 80px;

    &--main-page {
      margin: 0;
      background-image: url("../img/hero-desktop.jpg");
      height: 630px;
    }

    &--form-page {
      margin-bottom: 72px;
    }
  }

  .title-wrapper__main {
    font-size: $main-font-size + 26;
    line-height: 50px;
    width: 496px;
  }
}

@media (min-width: $desktop-width) {
  .title-wrapper {
    width: auto;
    height: 250px;
    margin-bottom: 134px;

    &--main-page {
      margin: 0;
      height: 626px;
    }

    &--form-page {
      margin-bottom: 126px;
    }
  }

  .title-wrapper__main {
    font-size: $main-font-size + 36;
    line-height: 57px;
    width: 606px;
  }
}
