.type-of-product {
  // outline: 1px solid black;
  list-style: none;
  padding: 0;
  font-size: $main-font-size + 2;
  line-height: 24px;
  font-weight: 700;
  margin: 0 auto;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.type-of-product__link {
  display: block;
  width: 130px;
  color: #ffffff;
  text-decoration: none;
  padding: 28px 0;
}

.type-of-product__product {
  padding: 0 30px;
  position: relative;
  // height: 103px;
  &--accessory {
    background-color: #63d1bb;
  }

  &--accessory::after {
    content: "";
    display: block;
    width: 40px;
    height: 62px;
    position: absolute;
    background-image: url("../../img/icon-interior.svg");
    top: 27px;
    right: 36px;
  }

  &--toy::after {
    content: "";
    display: block;
    width: 61px;
    height: 60px;
    position: absolute;
    background-image: url("../../img/icon-toy.svg");
    top: 24px;
    right: 27px;
  }

  &--toy {
    background-color: #56c3b2;
  }
}

.type-of-product__wrapper {
  // outline: 1px solid green;
  background-color: #f9f9f9;
}

@media (min-width: $tablet-width) {
  .type-of-product {
    flex-direction: row;
    width: 768px;
    padding: 0 50px;
  }

  .type-of-product__link {
    line-height: 30px;
    font-size: $main-font-size + 3;
    padding: 30px 138px 30px 0;
    width: 268px;
  }

  .type-of-product__product {
    // height: 117px;
    padding-left: 36px;
    width: 384px;

    &--accessory::after {
      top: 30px;
    }

    &--toy::after {
      top: 32px;
      right: 32px;
    }
  }

  .type-of-product__wrapper {
    width: auto;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .type-of-product {
    width: 1150px;
  }

  .type-of-product__link {
    padding: 28px 0;
    width: 489px;
    padding-right: 359px;
  }

  .type-of-product__product {
    width: 525px;
  }

  .type-of-product__wrapper {
    width: auto;
  }
}
