.type-of-product {
  list-style: none;
  padding: 0;
  font-size: $main-font-size + 2;
  line-height: 24px;
  font-weight: 700;
  margin: 0 auto;
  margin-left: calc(50% - 160px);
  width: 320px;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.type-of-product__link {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 28px 113px 28px 30px;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.type-of-product__product {
  position: relative;

  &--accessory {
    background-color: #63d1bb;
  }

  &--accessory::after {
    content: "";
    display: block;
    width: 40px;
    height: 62px;
    position: absolute;
    background-image: url("../img/icon-interior.svg");
    top: 27px;
    right: 36px;
  }

  &--toy::after {
    content: "";
    display: block;
    width: 61px;
    height: 60px;
    position: absolute;
    background-image: url("../img/icon-toy.svg");
    top: 24px;
    right: 27px;
  }

  &--toy {
    background-color: #56c3b2;
  }
}

@media (min-width: $tablet-width) {
  .type-of-product {
    flex-direction: row;
    width: 768px;
    padding: 0 50px;
    margin-left: calc(50% - 384px);
    bottom: -5px;
  }

  .type-of-product__link {
    line-height: 30px;
    font-size: $main-font-size + 3;
    padding: 30px 138px 35px 36px;
  }

  .type-of-product__product {
    width: 384px;

    &--accessory::after {
      top: 30px;
    }

    &--toy::after {
      top: 32px;
      right: 32px;
    }

    &:hover, &:focus, &:active {
      transform: translateY(-5px);
    }
  }
}

@media (min-width: $desktop-width) {
  .type-of-product {
    width: 1150px;
    margin-left: calc(50% - 575px);
    bottom: -6px;
  }

  .type-of-product__link {
    padding: 28px 359px 35px 36px;
  }

  .type-of-product__product {
    width: 525px;
  }
}
